h1 {
    color: rgb(255, 153, 0);
    background-color: black;
}

h2 {
    color: rgb(139, 173, 175);
}

body {
    background-color: rgb(1, 56, 110);
    color:rgb(0, 172, 172)
}

a {
    color: rgb(110, 173, 255);
}

.silvertext {
    color:silver
}

.redtext {
    color:rgb(93, 1, 1)
}

.yellowtext {
    color:gold
}
.greentext {
    color:rgb(6, 121, 0)
}

.orangetext {
    color:goldenrod
}

.darkbluetext {
    color:rgb(0, 0, 64)
}

.paletext {
    color: rgb(255, 253, 227)
}

.voidtext {
    color: black;
}

.titleheader {
    color: rgb(255, 153, 0);
    background-color: black;
    text-align: center;
}

.center-text {
  text-align: center;
}
